<h1>{{title}}</h1>
<p>Hello, welcome to MakeReddit!</p>

<h5>Quick Access</h5>
<ul>
  <li><a href="../rooms">Rooms</a></li>
  <li><a href="../rooms/new">Create New Room</a></li>
  <li><a href="../users">User Index</a></li>
  <li><a href="../users/new">Create New User</a></li>
<ul>
